html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #111111;
}

body {
    display: table;
}

div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-family: montserrat;
    color: rgb(233, 233, 233);
    font-size: larger;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

.grow {
    -webkit-transition: ease-in-out color 0.8s, font-size 0.8s;
    transition: color 0.8s, font-size 0.8s;
    font-size: 30px;

}

.grow:hover {
    color: rgb(181, 181, 181);
    font-size: 32px;
}